<div th:fragment="top" xmlns:th="http://www.thymeleaf.org">
    <div class="header">
        <span class="header-text">YATE FAM</span>
    </div>
    <nav>
        <a href="/" th:if="${#authorization.expression('isAuthenticated()')}">Home</a>
        <a href="/admin" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Admin</a>
        <a href="/login" th:if="${#authorization.expression('!isAuthenticated()')}">Login</a>
        <a href="/logout" th:if="${#authorization.expression('isAuthenticated()')}">Logout</a>
        <a href="/register" th:if="${#authorization.expression('!isAuthenticated()')}">Register</a>
        <a href="/all" th:if="${#authorization.expression('isAuthenticated()')}">View all</a>
        <a href="events/new" th:if="${#authorization.expression('isAuthenticated()')}">Add new event</a>
        <a href="shoppingItems/new" th:if="${#authorization.expression('isAuthenticated()')}">Add new Shopping Item</a>
        <a href="tasks/new" th:if="${#authorization.expression('isAuthenticated()')}">Add new task</a>
    </nav>
  </div>
  
  